/**************************************** Webpages by RACHEL *****************************************/
 #web {
    position:relative;
     overflow:hidden;
}
 .web_left {
    width:550px;
     float:right;
     background:#fff;
     padding:80px;
     text-align:justify;
}
 .web_left {
    font:12px 'lato';
     color:#000;
     line-height:18px;
}
 .web_menu {
     float:left;
     width:200px;
     background:#fff;
     border: #f5f5f5 1px solid;
     padding:30px;
}
 .web_left b {
    font:9px 'montserrat';
     text-transform:uppercase;
     font-weight:700;
    color: #ccb85f;
     letter-spacing:2px;
}
 .web_h {
    position:relative;
     height:130px;
     z-index:1;
     overflow:hidden;
}
 .web_h h1 {
    position:absolute;
     font:90px 'SaintAndrews_Queen';
     font-style:italic;
     margin:0;
     color: #9E8369;
}
 .web_left h2 {
    font:17px 'Playfair Display SC';
     font-weight:700;
     color:#ccc;
     text-align:right;
     text-transform:uppercase;
     letter-spacing:2px;
     margin:20px;
}
 .web_menu h1 {
    font:20px 'playfair display sc';
     font-weight:700;
     font-style:italic;
     color: #8c8c8c;
}
 .web_menu ul {
     font:10px 'source sans pro';
     text-transform:uppercase;
     letter-spacing:1px;
     list-style-type:none;
     margin:20px 0px;
     padding-left:15px;
}
 .web_menu li ul {
    margin:5px 0px;
}
 .web_menu ul li {
    margin-bottom:5px;
}
 .web_menu ul a {
    color:#000;
}

.web_menu ul a:hover {
  letter-spacing:1px;
  transition:.6s;
  color: #ccb85f;
}

 .web_box {
    background:#f5f5f5;
     font:11px 'lora';
     color:#555;
     line-height:16px;
     letter-spacing:1px;
     padding:30px;
     margin:30px;
}
